%html{html_attrs('en-US')}
  %head
    %title Styleguide
    = stylesheet_link_tag :all
  %body
    #container

      %h1 This is and examples of the basic style of your app
      %h2 This is a h2 example

      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas facilisis pharetra consequat. Sed turpis nulla, consectetur quis scelerisque nec, scelerisque eget felis. In volutpat hendrerit sagittis. Sed elementum, massa quis fringilla feugiat, arcu arcu imperdiet ipsum, eget semper elit erat quis neque. Maecenas nec augue enim. Nulla quis egestas neque. Donec mattis, orci nec elementum ultrices, nibh turpis ullamcorper augue, eget interdum risus nisl eu nulla. Sed posuere, libero ac vulputate tempus, lorem lorem auctor mi, sed luctus lorem nibh vitae lacus. Vivamus est quam, placerat at porttitor a, ornare eget ipsum. Etiam eget dolor arcu, adipiscing congue orci. Maecenas mattis volutpat porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus sit amet elit arcu, vel tristique mauris. Nam a tortor vitae justo facilisis scelerisque ac eget puru
      %p
        Vestibulum vel odio vel ipsum mattis facilisis at vel lacus. Suspendisse hendrerit lectus nec nunc sodales eleifend. Fusce vel neque eros. Pellentesque sed risus a risus dapibus facilisis. Pellentesque nec nulla sapien. Sed quis nisi et lacus venenatis sagittis. Maecenas dignissim lectus nec nunc sagittis ultricies.

      %blockquote
        Aenean mi nulla, condimentum ut lobortis eget, lacinia at sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia justo nec nisl dictum gravida.

      %h3 this is a h3 example.
      %p
        Etiam eu mi id leo commodo eleifend eget eget velit. Proin malesuada semper mollis. Pellentesque elit odio, condimentum nec viverra eu, iaculis a neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras porta malesuada mauris, fringilla bibendum nibh bibendum vel. Curabitur dapibus consectetur porta. Nunc a ipsum tortor. Maecenas urna leo, fringilla vel molestie eget, malesuada sed nunc. Duis dictum dignissim erat vel congue. Sed imperdiet condimentum sodales
       
      %hr

      %h1 this a h1 example
      %h2 this a h2 example
      %h3 this a h3 example
      %h4 this a h4 example
      %h5 this a h5 example
      %h6 this a h6 example

      %hr

      %h1 Long h1 tittle tiam eu mi id leo commodo eleifend eget eget velit. Proin malesuada semper mollis. Pellentesque elit odio, condimentum nec viverra eu, iaculis a neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 

      %p 
        Cras porta malesuada mauris, fringilla bibendum nibh bibendum vel. Curabitur dapibus consectetur porta. Nunc a ipsum tortor. Maecenas urna leo, fringilla vel molestie eget, malesuada sed nunc. Duis dictum dignissim erat vel congue. Sed imperdiet condimentum sodales.

      %h3 Long h1 tittle tiam eu mi id leo commodo eleifend eget eget velit. Proin malesuada semper mollis. Pellentesque elit odio, condimentum nec viverra eu, iaculis a neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 

      %p 
        Cras porta malesuada mauris, fringilla bibendum nibh bibendum vel. Curabitur dapibus consectetur porta. Nunc a ipsum tortor. Maecenas urna leo, fringilla vel molestie eget, malesuada sed nunc. Duis dictum dignissim erat vel congue. Sed imperdiet condimentum sodales.

      %h4 Long h1 tittle tiam eu mi id leo commodo eleifend eget eget velit. Proin malesuada semper mollis. Pellentesque elit odio, condimentum nec viverra eu, iaculis a neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 

      %p 
        Cras porta malesuada mauris, fringilla bibendum nibh bibendum vel. Curabitur dapibus consectetur porta. Nunc a ipsum tortor. Maecenas urna leo, fringilla vel molestie eget, malesuada sed nunc. Duis dictum dignissim erat vel congue. Sed imperdiet condimentum sodales.

      %p 
        Cras porta malesuada mauris, fringilla bibendum nibh bibendum vel. Curabitur dapibus consectetur porta. Nunc a ipsum tortor. Maecenas urna leo, fringilla vel molestie eget, malesuada sed nunc. Duis dictum dignissim erat vel congue. Sed imperdiet condimentum sodales.

      %hr

      %h1 List styles

      %ul
        %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %li Ut sit amet risus eros, a convallis diam.
        %li LNullam eu nibh augue, in semper magna.
        %li Phasellus semper magna non turpis rutrum at viverra nisi fringilla.

      %ol
        %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %li Ut sit amet risus eros, a convallis diam.
        %li LNullam eu nibh augue, in semper magna.
        %li Phasellus semper magna non turpis rutrum at viverra nisi fringilla

        %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %li Ut sit amet risus eros, a convallis diam.
        %ul
          %li LNullam eu nibh augue, in semper magna.
          %li Phasellus semper magna non turpis rutrum at viverra nisi fringilla
          %ol
            %li LNullam eu nibh augue, in semper magna.
            %li Phasellus semper magna non turpis rutrum at viverra nisi fringilla

      %hr

      = form_tag('/post') do
        %fieldset
          = label_tag 'Name'
          %br
          = text_field_tag 'name'
          %br
          = label_tag 'Nickname'
          %br 
          = text_field_tag 'Nickname'
          %br
          = label_tag 'Post'
          %br
          = text_area_tag 'post'
        %fieldset
          = label_tag 'Select count'
          %br
          = select_tag "count", "<option>1</option><option>2</option><option>3</option><option>4</option>"
          %br
          = label_tag 'Radio Buttons'
          %br
          = radio_button_tag 'gender', 'male'
          %br
          = radio_button_tag 'gender', 'female'
          %br
          = label_tag 'Checkboxes'
          %br
          = check_box_tag 'false'
          = check_box_tag 'true'
        = submit_tag 'Save'

      %hr

      %h1 Miselaneoussss Styles

      %stong strong text
      %ins inserted
      %del deleted
      %i italix
      %em emphasisi

      %a{:href => '#'} links dude

      %table
        %thead
          %tr
            %th name
            %th lastname
            %th email
        %tbody
          %tr
            %td Juan
            %td lopez
            %td lopex@lopex.com
          %tr
            %td Juan
            %td lopez
            %td lopex@lopex.com
          %tr
            %td Juan
            %td lopez
            %td lopex@lopex.com

          


